/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

.container input{
  border: 1px solid #febf00;
  border-radius: 10px;
}

.container input:focus{
  outline: #febf00;
}

.body{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-form{
  width: 800px;
  margin: 0 auto;
  padding: 80px 0;
  border-radius: 10px;
  height: 100%;
  text-align: center;
}

.signup-form #signup-header{
  color:#febf00;
  text-align: center;
}

.signup-text-center{
  padding: 20px;
  color:black;
}


.signup-container{
  display: block;
  overflow: hidden;
  width:100%;
  position: relative;
}

.signup-form #signup-id-area{
  width: 50%;
  height: 50px;
  padding: 10px;
}

.signup-form #signup-password-area{
  width: 50%;
  height: 50px;
  padding: 10px;
}
.signup-form #signup-passwordCheck-area{
  width: 50%;
  height: 50px;
  padding: 10px;
}

.signup-form #signup-name{
  width: 50%;
  height: 50px;
  padding: 10px;
}

.signup-form #signup-address{
  width: 50%;
  height: 50px;
  padding: 10px;
}
.signup-form #signup-checkGender{
  display: inline-block;
  overflow: hidden;
  padding:10px;
  color: black;
}

.signup-form .signup-inputarea{
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.signup-form .signup-inputarea-id{
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  width:800px;
  left: 45px;
}

/* 
.signup-form .btn-lg{
  position: relative;
  overflow: hidden;
  transition: 400ms;
  width: 150px;
  height: 50px;
  color: black;
  background-color: #febf00;
  border: 1px solid #febf00;
}

.signup-form .btn-lg:hover{
  position: relative;
  overflow: hidden;
  transition: 400ms;
  width: 150px;
  height: 50px;
  color: black;
  background-color: #febf00;
  border: 1px solid #febf00;
  border-radius: 50px;
} */

.id-check{
  display: inline-block;
  padding: 10px;
}
/* .btn-id-check{
  color: black;
  background-color: #febf00;
  border: 1px solid #febf00;
  transition: 400ms;
}

.btn-id-check:hover{
  color: black;
  background-color: #febf00;
  border-radius: 20px;
  border: 1px solid #febf00;
  transition: 400ms;
  border-radius: 50px;
} */

/* 로그인 */
.login-box{padding: 20px;}
.login-box h1{text-align: center; margin-bottom: 15px;}	
.login-box .login{max-width:1200px; margin:0 auto; border: 1px solid #e1e1e1; border-radius:25px; padding: 30px; background: #fff; box-shadow:0px 0px 11px 0px rgb(0 0 0 / 5%);}
.login-box .login li{margin: 5px;}
.login-box .login li input{width: 100%; height: 40px; padding: 5px; border: 1px solid #ccc; border-radius:25px;}
.login-box .login li button{width: 100%; height: 40px; background: #26649e; color: #fff; border: 0; border-radius:25px; transition:all 0.3s;}
.login-box .login li button:hover{background: #000; border-radius:0;}
.login-box .login-btn{text-align: center; margin-top:20px; margin-bottom:15px;}

.signup-button {
  border: 1px solid rgba(0, 0, 0, 0.032);
  margin-top: 40px;
  margin-bottom:30px;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  /* border: none; */
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.signup-button:hover {
  background-color: #febf00;
  box-shadow: 0px 15px 20px rgba(230, 184, 35, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #febe00af;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}