.event-thum{
    display: inline-block;
    width: 27%;
    height: 180px;
    margin: 15px 30px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #e1e1e1;
    transition: all, 0.3s;
}
.event-thum:hover{
    box-shadow: 10px 10px 5px #e1e1e1;
}
.event-thum .event-detail{
    padding: 10px 20px;
}
.event-thum .event-detail > p {
    width: 100%;
    text-overflow: ellipsis;  
    white-space  : nowrap;
    overflow     : hidden;
}
.event-thum .event-date{
    color: #8a8a8a;
    margin: 5px 0;
    font-size: 15px;
}
.event-thum .event-title{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}
.event-thum .event-description{
    font-size: 17px;
    margin: 0 0;
}
.event-thum .event-location{
    color: #8a8a8a;
    margin: 10px 0;
    font-size: 15px;
}