.container .main-image{
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* background-image: url("https://spiritualityhealth.com/assets/images/Articles/_articleSummaryImage/bestbooks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    text-align: center;
    position: relative;
} 
.main-image video{
    width: 100%;
}
.main-letter{
    position: absolute;
    text-align: center;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #000;
    text-shadow: 2px 2px 5px #fff;
}
.main-letter button{
    background-color: #febf00;
    border: none;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-size: 22px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}
.main-letter button::before, .main-letter button::after{
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}
.main-letter button::before{
    border-color: #febf00;
    border-right-width: 2px;
    border-top-width: 2px;
    border-top-right-radius: 10px;
    right: -5px;
    top: -5px;
}
.main-letter button::after{
    border-bottom-width: 2px;
    border-color: #febf00;
    border-left-width: 2px;
    border-bottom-left-radius: 10px;
    bottom: -5px;
    left: -5px;
}
.main-letter button:hover{
    background-color: #febf00;
}
.main-letter button:hover::before,
.main-letter button:hover::after{
    height: 100%;
    width: 100%;
}
/*.main-letter button{
    padding: 10px 40px; 
    border-radius: 10px;
    opacity: 0.7;
    background-color: #fff700;
    transition: all, 0.3s;
}*/
/* .main-letter button:hover{
    text-decoration: none;
    opacity: 1;
    background-color: #fff700;
    cursor: pointer;
} */
.container{
    background-color: #fffaeb;
}
.content-area{
    max-width: 1000px; 
    padding: 50px 0; 
    margin: 0 auto;
}
.content-area .section-title{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
}
.content-area .section-detail{
    margin-left: 30px;
    font-size: 15px;
}