<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>join</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" 
		href="../../css/style.css"></link>
</head>
<body>
	<div class="container">
		<h2>회원가입</h2>
		<form id="joinfrm" name="joinfrm" method="post" action="/user/insertMember.do">
			<table>
				<tr>
					<td>아이디</td>
					<td><input type="text" id="memberId" name="memberId"></td>
				</tr>
				<tr>
					<td>비밀번호</td>
					<td><input type="password" id="memberPw" name="memberPw"></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><input type="text" id="memberName" name="memberName"></td>
				</tr>
			</table>
			<input type="submit" id="submit" value="저장" class="btn">
		</form>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			
			$("#submit").on("click", function(){
				if($("#memberId").val()==""){
					alert("아이디를 입력해주세요.");
					$("#memberId").focus();
					return false;
				}
				if($("#memberPw").val()==""){
					alert("비밀번호를 입력해주세요.");
					$("#memberPw").focus();
					return false;
				}
				if($("#memberName").val()==""){
					alert("성명을 입력해주세요.");
					$("#memberName").focus();
					return false;
				}
			});
			fn_idChk();
		})
		
		function fn_idChk(){
			$.ajax({
				url : "http://localhost:8080/user/idChk",
				type : "post",
				dataType : "json",
				data : {"memberId" : $("#memberId").val()},
				success : function(data){
					if(data == 1){
						alert("중복된 아이디입니다.");
					}else if(data == 0){
						alert("중복된 아이디입니다");
					}
				}
			})
		}
	</script>
</body>
</html>
