<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>memberDetail</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" 
		href="../../css/style.css"></link>
</head>
<body>
		<h2>멤버 디테일</h2>
		<table class="board_list">
			<tbody>
				<tr>
					<td th:text="${member.memberName}"></td>
				</tr>
			</tbody>
		</table>
		
		<h2>스터디 다른 멤버</h2>
		<table class="board_list">
			<tbody>
				<tr th:if="${#lists.size(memberList)} > 0 and ${memberList.memberName}!=${member.memberName}" th:each="memberList : ${memberList}">
				<td class="memberId" > 
						<a href="/studyMemberDetail.do?memberId="
								th:attrappend="href=${memberList.memberId}"
								th:text="${memberList.memberName}">
					</a></td>
				<tr th:unless="${#lists.size(memberList)} > 0">
					<td colspan="4">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>
	
</body>
</html>