<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>검색 결과</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" 
		href="../../css/style.css"></link>
</head>
<body>
	<div class="container">
		<h2>검색 결과</h2>
		<table class="board_list">
			<colgroup>
				<col width="15%"/>
				<col width="*"/>
				<col width="15%"/>
				<col width="25%"/>
			</colgroup>
			<thead>
				<tr>
					<th scope="col"> 스터디id </th>
					<th scope="col"> 스터디이름 </th>	
					<th scope="col"> 스터디내용 </th>			
				</tr>
			</thead>  
			<tbody>
			</tr> 
				<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
					<td th:text="${list.studyId}"></td>
					<td class="studyName"> 
						<a href="/studyDetail.do?studyId="
							th:attrappend="href=${list.studyId}"
							th:text="${list.studyName}">
						</a></td>
					<td th:text="${list.studyName}"></td>
					<td th:text="${list.studyDescription}"></td>
				</tr>
				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="4">조회된 결과가 없습니다.</td>
				</tr>
				
			</tbody>
		</table>
	</div>
</body>
</html>
