<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>study</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" 
		href="../../css/style.css"></link>
</head>
<body>
	<h2>스터디 상세 화면</h2>
		<table class="board_detail">
			<tbody>
				<tr>
					<th scope="row">글 번호</th>
					<td th:text="${study.studyId}"></td>
				</tr>
				<tr>
					<th scope="row">스터디 이름</th>
						<td th:text="${study.studyName}"></td>
				</tr>
				<tr>
					<th scope="row">스터디 이름</th>
						<td th:text="${study.studyDescription}"></td>
				</tr>
			</tbody>
		</table>
		
		<h2>스터디 이벤트</h2>
		<table class="board_list">
			<colgroup>
				<col width="30%"/>
				<col width="70%"/>
			</colgroup>
			<thead>
				<tr>
					<th scope="col"> 일정 </th>
					<th scope="col"> 내용 </th>			
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(event)} > 0" th:each="event : ${event}">
					<td th:text="${event.eventName}"></td>
					<td th:text="${event.eventDescription}"></td>
				</tr>
				<tr th:unless="${#lists.size(event)} > 0">
					<td colspan="4">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		
		<h2>스터디 멤버</h2>
		<table class="board_list">
			<tbody>
				<tr th:if="${#lists.size(member)} > 0" th:each="member : ${member}">
				<td class="memberId" > 
						<a href="/studyMemberDetail.do?memberId="
								th:attrappend="href=${member.memberId}"
								th:text="${member.memberName}">
					</a></td>
				</tr>
				<tr th:unless="${#lists.size(member)} > 0">
					<td colspan="4">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		
	<div th:if="${session.loginUser != null}">
		<form id="sjoinfrm" name="sjoinfrm" method="get" action="/studyJoin.do">
			<input type="hidden" name="memberId" th:value="${session.loginUser.memberId}">
			<input type="hidden" name="studyId" th:value="${study.studyId}">
			<input type="submit" id="submit" value="스터디 가입" class="btn">
		</form>
		
		<form id="sbfrm" name="sbfrm" method="get" action="/studyLocation.do">
			<input type="hidden" name="studyId" th:value="${study.studyId}">
			<input type="submit" id="submit" value="장소 예약" class="btn">
		</form>
	</div>
	
	<form id="sbfrm" name="sbfrm" method="get" action="/board/openBoardList.do">
			<input type="hidden" name="studyId" th:value="${study.studyId}">
			<input type="submit" id="submit" value="스터디 게시판" class="btn">
	</form>
	
</body>
</html>