@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.jejugothic * { 
font-family: 'Jeju Gothic', sans-serif;
}

/* body{
    color: white;
    text-align: center;
    margin: 0 auto;
    background-color: #fffaeb;
} */

.creat-study{
    font-family: 'Jeju Gothic';
}

.start{
    max-width: 100%;
    min-width: auto;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}

.start .start-row-step{
    display: block;
    padding:130px 10px;
    position: relative;
}

#start-step{
    display: inline-block;
    overflow: hidden;
    color: black;
    margin: 30px;
}

.start-contents-all{
    display: block;
    overflow: hidden;
    padding: 20px;
}

.start-contents-all .start-contents-box .start-contents-wrap{
    padding: 30px 20px;
    margin: 30px 20px;
}

#start-venueSearch{
    width: 400px;
    height: 3.5rem;
    border: 1px solid #febf00;
    border-radius: 10px;
    padding: 20px;
}

#start-subbox{
    padding: 20px;
}

/* .start-Footer .start-Footer-box button{
    width: 150px;
    height: 50px;
    color: black;
    transition: 400ms;
    background-color: #febf00;
    border: 1px solid #febf00;
    border-radius: 5px;
} */

/* .start-Footer .start-Footer-box button:hover{
    width: 150px;
    height: 50px;
    color: black;
    transition: 400ms;
    background-color: #febf00;
    border-radius: 50px;
    border: 1px solid #febf00;
} */

.creat-button {
    border: 1px solid rgba(0, 0, 0, 0.032);
    margin-left: 20px;
    margin-top: 80px;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    /* border: none; */
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .creat-button:hover {
    background-color: #febf00;
    box-shadow: 0px 15px 20px rgba(230, 184, 35, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }