@font-face {
    font-family: 'MapoHongdaeFreedom';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoHongdaeFreedomA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav {
    background-color: #fff;    
    overflow: hidden; 
    height: 80px;
    box-shadow: 5px 5px 10px 2px #80808029;
}
.nav .nav-logo{
    float: left; 
    height: 80px;
    width: 10%;
    position: relative;
}
.nav .nav-logo img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.nav .nav-logo a{
    display: block;
    width: 100%;
    position: absolute;
    top: 11%;
    left: 15%;
    padding: 10px;
    font-size: 30px;
    text-decoration:none;
    color: #000;
    font-family: 'MapoHongdaeFreedom';
   
}
.nav .nav-logo a span{
    border-bottom: 3px solid #febe00af;
    box-shadow:inset 0 -4px 0 #febe00af;
}
.nav .nav-login{
    float: right; 
    margin-top: 30px; 
    color:#000;
    /* width: 25%; */
}
.nav .nav-login .member-name{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.nav-login button{
    border-style: none;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    float: right;
    cursor: pointer;
}
.nav-login button::before{
    padding: 10px;
    font-size: 15px;
    content: "|";
    color: #000;
}
.nav-login button::after{
    padding: 10px;
    font-size: 15px;
    content: "|";
    color: #000;
}
.nav .create-group{float: right; margin-top: 30px;}
.nav .create-group button{
    border-style: none;
    background-color: #fff;
    font-size: 15px;
    color: #e81035;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}
.nav .create-group a{
    padding: 10px; 
    color: #5858f1; 
    text-decoration: none;
}
.nav .nav-login a{
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}
.highlight:hover {
    background: linear-gradient(to top, #febe0071 50%, transparent 50%);
}

.highlight2:hover{
    background: linear-gradient(to top, #e810345b 50%, transparent 50%);
}
.nav > div > a:hover{ text-decoration:none;}