.nav {
    background-color: #000;    
    overflow: hidden; 
    height: 80px;
}
.nav .nav-logo{float: left; margin-top: 25px;}
.nav .nav-logo a{
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: #fff700;
}
.nav .nav-login{float: right; margin-top: 30px;}
.nav .create-group{float: right; margin-top: 30px;}
.nav .create-group a{
    padding: 10px; 
    color: #bfbfff; 
    text-decoration: none;
}
.nav .nav-login a{
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}
.nav > div > a:hover{text-decoration: underline;}