.calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
}

.calendar-container {
    /* border: 2px solid #e1e1e1; */
    box-shadow: 5px 5px 5px #e1e1e1;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.calendar-header {
    /* border-bottom: 1px solid #febf00; */
    background-color: #fde9ac;
    height: 50px;
    font-size: 1.6em;
    text-align: center;
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 5px;
}

.day,
.empty-slot,
.week-day {
    text-align: center;
    height: 40px;
}

.week-day {
    font-size: 0.8em;
}

.day {
    font-size: 0.8em;
}

.day {
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.current-day {
    background-color: #4285f4;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
}
/* .current-day span{
    border: 3px solid #4285f4;
    padding: 5px;
    border-radius: 20%;
} */
.selected-day {
    background-color: #fdbf00;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: black;
}
/* .selected-day span{
    border: 3px solid #fdbf00;
    border-radius: 20%;
    padding: 5px;
} */

.month-popup {
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
}

.month-popup div {
    padding: 0.3em;
}

.nav-month {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right:3px;
}

.prev {
}

.next {
}

.editor-year {
    max-width: 3.6em;
}

.label-month,
.label-year {
    font-size: 0.6em;
}

.label-month {
    /* cursor: pointer; */
}

.calendar-header td .prevButton{
    font-size: 15px;
    margin: 0 20px;
    cursor: pointer;
}
.calendar-header td .nextButton{
    font-size: 15px;
    margin: 0 20px;
    cursor: pointer;
}